.CadastroPageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}

.CadastroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    background-color: #000000ff;
    padding: 150px 30px 200px;
    border-radius: 5px;
    height: 450px;
    width: 50%;
}

.InputAreaCadastro{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: left;
    justify-content: center;
}

.InputAreaCadastro input{
    width:  100%;
    padding: 0px 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.InputAreaCadastro label {
    color: #fff;
}

.InputGroupCadastro {
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    /* gap: 10px; */
}

.TitleCadastro{
    width: 90%;
    margin-top: 10%;
    color: #fff;

}


.ButtonCadastro {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 10px;
    width: 90%;
}
