.LoginPageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;
}

.LoginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    background-color: var(--main-color);
    padding: 150px 0;
    border-radius: 5px;
    height: 200px;
    width: 50%;
}

.InputAreaLogin{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: left;
    justify-content: center;
}

.InputAreaLogin input{
    width: 100%;
    padding: 0 10px;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.InputAreaLogin label {
    color: var(--font-color);
}

.TitleLogin{
    color: var(--font-color);
    margin-bottom: 5%;
}


.ButtonLogin {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100%;
    display: flex; 
    justify-content: center;
    margin-top: 5%;
    font-size: 1.1rem;
}


