.UsuariosContainer {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Usuarios {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Form */

.UsuariosTitle {
    color: var(--font-color);
    margin-bottom: 5%;
    width: 100%;
}


.UsuariosFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 5px;
}

.UsuariosFormInputs {
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.UsuariosInputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UsuariosInputArea input{
    width: 120px;
    padding: 0 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.UsuariosInputArea label{
    color: var(--font-color);
}


.UsuariosButton{
    font-size: 1rem;
    align-self: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 42px;
    width: 100%;
}




/* Grid */


.UsuariosTable{
    width: 100%;
    background-color: var(--main-color);;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 10% auto 0;
    word-break: break-all;
    color: var(--font-color);
    border-collapse: collapse;
}

.UsuariosTr th{
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
}



